/*CSS File used for CSS changes and extra features not found in Bootstrap*/

@media screen and (max-width:600px) {
    input {
        width: 100% !important;
    }
}

@media screen and (min-width:1080px) {
    input {
        width: 100% !important;
    }
    div.desktop {
        width: 800px;
        margin: auto;
    }
}

div.desktop {
    margin-top: 15px;
}

div.menu a.btn {
    width: 100%;
    white-space: normal;
}

body {
    background-color: #000;
    color: #fff;
}

.jumbotron {
    background: grey;
    font-size: 1.2em;
    line-height: 1em
}

@media screen and (min-width:1080px) {
    .jumbotron h2 {
        font-size: 3em;
    }
    .jumbotron {
        font-size: 1.5em;
    }
}