/*CSS File used for CSS changes and extra features not found in Bootstrap*/

@media screen and (max-width:600px) {
    input {
        width: 100% !important;
    }
}

@media screen and (min-width:1080px) {
    input {
        width: 100% !important;
    }
    div.desktop {
        width: 800px;
        margin:auto;
    }
}
div.container-fluid desktop {
    margin-top: 15px;
}
div.menu a.btn { 
    width: 100%;
    white-space: normal;
}

.navbar {
    margin: 1rem 0;
    border: #007bff 1px solid;
    font-weight: bold;
    border-radius: 5px;
}
